:root 
{
    --main-dark: rgb(1,11,20);
    --secondary-dark: rgb(20, 28, 36);
    --main-green: rgb(82, 172, 130);
    --main-yellow: #f2c94c;
    --main-orange: rgb(222, 77, 6);
    
    
}


.bg-color-dark{

    background-color: var(--main-color);

}

.p-bold{

    font-weight: bold;

}
.bg-main{
    background-color: #00CCBE;
}

.color-dark{
    color: var(--dark-color);
}

.color-main{
    color: var(--main-color);
}


a{
    text-decoration: none;
}