{% extends 'base/base.html' %}
{% load static %}
{% block 'title' %}Integrar instituição{% endblock %}
{% block 'head' %}<link rel='stylesheet' href='{% static "health/css/integrate_institution.css" %}'>{% endblock %}



{% block 'content' %}

<div class="container" id="main">

    <aside id="side-info">
        <img src="{% static 'general/images/logo.png' %}" class="mt-5" id="logo">
        <h1 class="text-light mt-4 p-bold">KizolaHealing</h1>
    </aside>
    
    <div id="div-form">
        <div class="row">
                <form action="">
                    {% csrf_token %}

                    <div id="div-form-institutional-information">
                        <h4>Informações institucionais</h4>
                        {{institutional_information_form.institution_name.label}}
                        {{institutional_information_form.institution_name}}
                        {{institutional_information_form.nif.label}}
                        {{institutional_information_form.nif}}
                        {{institutional_information_form.institution_type.label}}
                        {{institutional_information_form.institution_type}}
                        {{institutional_information_form.founding_date.label}}
                        {{institutional_information_form.founding_date}}
                    </div>  

                    <div id="div-form-administrative-information">
                        <h4>Informações Administrativas</h4>

                        {{administrative_information_form.responsible_person_name.label}}
                        {{administrative_information_form.responsible_person_name}}
                        {{administrative_information_form.responsible_person_nif.label}}
                        {{administrative_information_form.responsible_person_nif}}
                        {{administrative_information_form.responsible_person_email.label}}
                        {{administrative_information_form.responsible_person_email}}
                        {{administrative_information_form.responsible_person_phone.label}}
                        {{administrative_information_form.responsible_person_phone}}
                        
                    </div>   
                    
                    <div id="div-form-certification">
                        <h4>Registar Certificações</h4>
                        <div class="input-group">
                            {{certification_form.certification_title}}
                            {{certification_form.certification_number}}
                        </div>
                        <div class="input-group">
                            {{certification_form.issuing_authority}}
                            {{certification_form.scope}}
                        </div>
                        
                        {{certification_form.certification_status.label}}
                        {{certification_form.certification_status}}
                        {{certification_form.expiration_date.label}}
                        {{certification_form.expiration_date}}
                        {{certification_form.renewal_required.label}}
                        {{certification_form.renewal_required}}
                        <br>
                        {{certification_form.renewal_date.label}}
                        {{certification_form.renewal_date}}

                    </div>

                    <div id="div-form-certification-document">
                        <h4>Adicionar documentos das certificações</h4>
                        {{certification_document_form.file.label}}
                        {{certification_document_form.file}}
                        {{certification_document_form.description.label}}
                        {{certification_document_form.description}}
                    </div>

                    <div id="div-form-license">
                        <h4>Registrar Licenças</h4>
                        <div class="input-group">
                            {{license_form.license_title}}
                            {{license_form.license_number}}
                        </div>
                        <div class="input-group">
                            {{license_form.issuing_authority}}
                            {{license_form.scope}}
                        </div>
                        
                        {{license_form.license_status.label}}
                        {{license_form.license_status}}

                        <label>Expiration date and issue date</label>
                        <div class="input-group mt-2">
                            {{license_form.expiration_date}}
                            {{license_form.issue_date}}
                        </div>
                        {{license_form.renewal_required.label}}
                        {{license_form.renewal_required}}
                        <br>
                        {{license_form.renewal_date.label}}
                        {{license_form.renewal_date}}
                    </div>

                </form>
        </div>
    </div>
    
    <div id="button-card">
        <button class="btn btn-dark">avançar</button>
        <button class="btn btn-secondary">voltar</button>
    </div>

</div>




{% endblock %}


{% block 'body' %}{% endblock %}


 