{% extends 'base/base.html' %}
{% load static %}
{% block 'title' %}Integrar instituição{% endblock %}
{% block 'head' %}<link rel='stylesheet' href='{% static "health/css/integrate_institution.css" %}'>{% endblock %}



{% block 'content' %}

<div class="container" id="main">

    <aside id="side-info">
        <img src="{% static 'general/images/logo.png' %}" class="mt-5" id="logo">
        <h1 class="text-light mt-4 p-bold">KizolaHealing</h1>
    </aside>
    
    <div id="div-form">
        <div class="row">
            <div class="mt-5">
                <form action="">
                    {% csrf_token %}
                    
                    <div id="div-form-institutional-information">
                        {{institutional_information_form.institution_name.label}}
                        {{institutional_information_form.institution_name}}
                        {{institutional_information_form.nif.label}}
                        {{institutional_information_form.nif}}
                        {{institutional_information_form.institution_type.label}}
                        {{institutional_information_form.institution_type}}
                        {{institutional_information_form.founding_date.label}}
                        {{institutional_information_form.founding_date}}
                    </div>  

                </form>

            </div>
        </div>
    </div>
    
    <div id="button-card">
        <button class="btn btn-dark">avançar</button>
        <button class="btn btn-secondary">voltar</button>
    </div>

</div>




{% endblock %}


{% block 'body' %}{% endblock %}


 